### Project Description
Sleep is essential for both physical and mental health. Quality sleep repairs cells, consolidates memories, wards off disease, and much more. In this project, you'll be working as a data science consultant for SleepInc, a sleep-tracking startup, and your mission is to analyze anonymous sleep data from their SleepScope app to uncover insights into lifestyle factors affecting sleep quality and duration.

![insomnia](insomnia.jpg)

Your client, SleepInc, has shared anonymized sleep data from their hot new sleep tracking app SleepScope. As their data science consultant, your mission is to analyze the lifestyle survey data with Python to discover relationships between exercise, gender, occupation, and sleep quality. See if you can identify patterns leading to insights on sleep quality.

## ðŸ’¾ The data: sleep_health_data.csv

SleepInc has provided you with an anonymized dataset of sleep and lifestyle metrics for 374 individuals. This dataset contains average values for each person calculated over the past six months. The data is saved as `sleep_health_data.csv`.

The dataset includes 13 columns covering sleep duration, quality, disorders, exercise, stress, diet, demographics, and other factors related to sleep health. 

| Column | Description |
|---------|----------------------------------------|  
| `Person ID` | An identifier for each individual. |
| `Gender` | The gender of the person (Male/Female). |  
| `Age` | The age of the person in years. |
| `Occupation` | The occupation or profession of the person. |
| `Sleep Duration (hours)` | The average number of hours the person sleeps per day. |
| `Quality of Sleep (scale: 1-10)` | A subjective rating of the quality of sleep, ranging from 1 to 10. |
| `Physical Activity Level (minutes/day)` | The average number of minutes the person engages in physical activity daily. |  
| `Stress Level (scale: 1-10)` | A subjective rating of the stress level experienced by the person, ranging from 1 to 10. |
| `BMI Category` | The BMI category of the person (e.g., Underweight, Normal, Overweight). |
| `Blood Pressure (systolic/diastolic)` | The average blood pressure measurement of the person, indicated as systolic pressure over diastolic pressure. |
| `Heart Rate (bpm)` | The average resting heart rate of the person in beats per minute. |
| `Daily Steps` | The average number of steps the person takes per day. |
| `Sleep Disorder` | The presence or absence of a sleep disorder in the person (None, Insomnia, Sleep Apnea). |

In [1]:
import pandas as pd

In [2]:
sleep = pd.read_csv('sleep_health_data.csv')
sleep.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [4]:
sleep.groupby('Occupation')[['Sleep Duration']].mean()

                      Sleep Duration
Occupation
Accountant                  7.113514
Doctor                      6.970423
Engineer                    7.987302
Lawyer                      7.410638
Manager                     6.900000
Nurse                       7.063014
Sales Representative        5.900000
Salesperson                 6.403125
Scientist                   6.000000
Software Engineer           6.750000
Teacher                     6.690000

In [5]:
lowest_sleep_occ = 'Sales Representative'

In [6]:
sleep.groupby('Occupation')[['Quality of Sleep']].mean()

                      Quality of Sleep
Occupation
Accountant                    7.891892
Doctor                        6.647887
Engineer                      8.412698
Lawyer                        7.893617
Manager                       7.000000
Nurse                         7.369863
Sales Representative          4.000000
Salesperson                   6.000000
Scientist                     5.000000
Software Engineer             6.500000
Teacher                       6.975000

In [7]:
lowest_sleep_quality_occ = 'Sales Representative'

In [8]:
same_occ = True

In [9]:
sleep.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [10]:
sleep['BMI Category'].value_counts()

BMI Category
Normal        216
Overweight    148
Obese          10
Name: count, dtype: int64

In [11]:
normal = sleep[(sleep["BMI Category"] == "Normal") & (sleep["Sleep Disorder"] == "Insomnia")]  
normal

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
18,19,Female,29,Nurse,6.5,5,40,7,Normal,132/87,80,4000,Insomnia
31,32,Female,30,Nurse,6.4,5,35,7,Normal,130/86,78,4100,Insomnia
67,68,Male,33,Doctor,6.0,6,30,8,Normal,125/80,72,5000,Insomnia
94,95,Female,36,Accountant,7.2,8,60,4,Normal,115/75,68,7000,Insomnia
146,147,Male,39,Lawyer,7.2,8,60,5,Normal,130/85,68,8000,Insomnia
165,166,Male,41,Lawyer,7.6,8,90,5,Normal,130/85,70,8000,Insomnia
201,202,Male,43,Engineer,7.8,8,90,5,Normal,130/85,70,8000,Insomnia
202,203,Male,43,Engineer,7.8,8,90,5,Normal,130/85,70,8000,Insomnia
315,316,Female,53,Engineer,8.3,9,30,3,Normal,125/80,65,5000,Insomnia

In [12]:
# Total normal rows               
total_normal = len(sleep[sleep["BMI Category"] == "Normal"])  

# Calculate normal insomnia ratio               
normal_insomnia_ratio = round(len(normal) / total_normal, 2) 
normal_insomnia_ratio

0.04

In [13]:
obese = sleep[(sleep['BMI Category'] == 'Obese') & (sleep['Sleep Disorder'] == 'Insomnia')]
obese

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
5,6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
6,7,Male,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia
264,265,Male,48,Doctor,7.3,7,65,5,Obese,142/92,83,3500,Insomnia
266,267,Male,48,Doctor,7.3,7,65,5,Obese,142/92,83,3500,Insomnia

In [15]:
total_obese = len(sleep[sleep['BMI Category'] == 'Obese'])
obese_insomnia_ratio = round(len(obese) / total_obese, 2)
obese_insomnia_ratio

0.4

In [16]:
# Total overweight rows
overweight = sleep[(sleep["BMI Category"] == "Overweight") & (sleep["Sleep Disorder"] == "Insomnia")]  
total_overweight = len(sleep[sleep["BMI Category"] == "Overweight"])  

# Calculate overweight insomnia ratio 
overweight_insomnia_ratio = round(len(overweight) / total_overweight, 2)
overweight_insomnia_ratio

0.43

In [17]:
bmi_insomnia_ratios = {'Normal': normal_insomnia_ratio, 'Overweight': overweight_insomnia_ratio,
                      'Obese': obese_insomnia_ratio} 
bmi_insomnia_ratios

{'Normal': 0.04, 'Overweight': 0.43, 'Obese': 0.4}